h1{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    }
img{
    text-align: right;
    border-radius: 8%;
}
div{
    background-color: #4ED9B6;
    border-radius: 8%;
    text-align: center;
    margin: 30px;
    margin-top: 25px;
    border-color: rgb(13, 13, 14);
    border-style: solid;
}
h2{
text-decoration: underline;
font-style: italic;
}
p{
    font-size: 20px;
    font-style: oblique;
    border-radius: 4%;
    color:white;
}
h3{
    text-decoration: underline;
    font-style: italic;
}
a{
border-color: black;
color: rgb(228, 236, 238);
background-color: black;
border-style: solid;
border-radius: 8px;
}